<div class="container">
    <%= render "shared/page_title", title: "Showing all chefs" %>

    <%= render "shared/pagination", obj: @chefs %>
    <% @chefs.each do |chef| %>
        <div class="row mb-4">
            <div class="col-md-4 offset-md-4 card">
                <div class="card-body text-center">
                    <p class="mb-0"><%= link_to gravatar_for(chef), chef_path(chef) %></p>
                    <p class="mb-0" style="font-weight: bold; font-size: 1.25em"><%= link_to chef.chefname.capitalize, chef_path(chef) %></p>
                    <p class="mb-0"><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></small></p>
                    <%= link_to "Delete", chef_path(chef), method: :delete, data: {confirm: "Are you sure you want to delete the chef and all associated recipes?"}
                        if logged_in? && current_chef.admin? && !chef.admin %>
                </div>
            </div>
        </div>
    <% end %>
    <%= render "shared/pagination", obj: @chefs %>
</div>
